.stdcm-loader-background {
  padding: 0 0 48px 338px;
  background-color: #eff3f5;
}
.stdcm-loader {
  padding: 48px 48px 19px 48px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
  width: 546px;

  .stdcm-loader__wrapper {
    padding: 0 67.2px;
    border-radius: 6px;
    background-color: rgba(230, 247, 255, 1);
    width: 100%;
    h1 {
      opacity: 1;
      color: rgba(33, 100, 130, 1);
      font-size: 1.5rem;
      font-weight: 400;
      font-style: Regular;
      letter-spacing: 0;
      text-align: center;
      line-height: 32px;
      margin-top: 24px;
    }

    p {
      opacity: 1;
      color: rgba(33, 100, 130, 1);
      font-size: 1rem;
      font-weight: 400;
      font-style: Regular;
      letter-spacing: 0;
      text-align: center;
      line-height: 24px;
      margin-bottom: 24px;
    }
  }

  .stdcm-loader__cancel-btn {
    margin: 24px 0;
  }

  img {
    border-radius: 4px;
    width: 100%;
  }

  .stdcm-loader__img-signature {
    opacity: 1;
    color: rgba(121, 118, 113, 1);
    font-size: 0.75rem;
    font-weight: 400;
    font-style: Italic;
    letter-spacing: 0;
    text-align: left;
    margin-top: 12px;
    margin-bottom: 0;
  }
}
