.time-input-container {
  position: relative;
  width: 100%;

  input.dsg-input {
    width: 100%;
  }

  span.extra-text {
    position: absolute;
    left: 88px;
    top: 1.2px;
    pointer-events: none;
  }

  span.extra-text-firefox {
    top: 0.48px;
    left: 97.6px;
  }
}
