.simulation-results {
  position: relative;

  .osrd-simulation-sticky-bar {
    // TODO: remove the `display none` when the design has been changed
    display: none;
    position: sticky;
    border-radius: 4px;
    width: 100%;
    background: var(--secondary);
    z-index: 10;
    top: 0;
    left: 0;
    padding: 8px;
    margin-bottom: 8px;
    overflow: hidden;
    input {
      padding: 2px 8px;
    }
    .train-detail {
      min-width: 72px;
      max-height: 32px;
      padding: 1.6px;
      line-height: 12.8px;
    }
    .rounded,
    .form-control,
    .btn {
      border-radius: 4px !important;
    }
    .rounded,
    .form-control,
    .btn {
      border-radius: 4px !important;
    }
    &.with-collapsed-timetable {
      top: 48px;
    }
  }

  .osrd-simulation-container {
    position: relative;
    padding: 16px;
    border-radius: 4px;

    &.speedspacechart-container {
      margin-bottom: 41px;
    }
  }

  .simulation-map {
    position: relative;
    height: 720px;
    margin: 0 30px 56px 38px;
    border-radius: 10px;
    box-shadow:
      0 1px 0 rgba(255, 255, 255, 1) inset,
      0 4px 7px -3px rgba(255, 171, 88, 0.17),
      0 2px 4px rgba(0, 0, 0, 0.22);
  }

  .time-stop-outputs {
    margin: 0 30px 27px 38px;
  }

  .driver-train-schedule {
    background-color: white;
    padding: 16px;
    border-radius: 4px;
    margin-inline: 38px 30px;
  }

  .simulation-sheet-container {
    display: flex;
    justify-content: space-between;
    padding: 0 33.5px 75px 32.5px;
    button {
      background-color: rgba(235, 235, 234, 0.4); // grey10 with 40% opacity
      font-weight: 500;
    }
  }

  /* MAP */
  .train-speed-label {
    text-shadow: 0 0 3px #fff;
    padding-bottom: 24px;
  }

  .map-pathfinding-marker {
    display: flex;
    align-items: center;
    gap: 0.25rem;
    position: absolute;
    font-weight: 500;
    border-radius: 4px;
    line-height: 0.7rem;
    padding: 0.15rem 0.25rem;
    font-size: 0.7rem;
    white-space: nowrap;
    &.via-number {
      padding: 0;
      font-weight: bold;
      color: white;
    }
    &.stdcm-via {
      align-self: flex-start;
      padding-top: 0.5rem;
      color: black;
    }
  }
}
